body {
  font-family: sans-serif, "Source Sans Pro";
  background-image: url("./Pictures/Background.png");
  color: lightpink;
}

a {
  font-family: sans-serif, "Source Sans Pro";
  color: pink;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 16px 16px;
  border-color: antiquewhite;
  color: antiquewhite;
  margin: auto;
}

.divider {
  font-size: 30px;
  margin: -0.65em auto -0.45em;
  overflow: hidden;
  text-align: center;
  line-height: 1.2em;
}

.divider:before,
.divider:after {
  content: "";
  vertical-align: top;
  display: inline-block;
  width: 50%;
  height: 0.65em;
  border-bottom: 3px solid #fff;
  margin: 0 2% 0 -55%;
}

.divider:after {
  margin: 0 -55% 0 2%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  max-width: 60%;
  margin: auto;
  background-image: url(./Pictures/CardBackground.png);
}

.col-sm-6 {
  margin-top: 5%;
}

.img-fluid {
  border-radius: 100px;
  border: solid 20px #754c66;
  margin: 20px;
  margin-left: 0px;
  display: inline-block;
}

.img-fluid:hover {
  transform: scale(1.1);
}

.form-control {
  background-image: url(./Pictures/ExtraBackground.png);
}

::placeholder {
  color: lightpink !important;
}

p,
h1 {
  text-align: center;
  font-weight: bold;
}

#carouselExampleFade {
  margin: auto;
}

#carouselExampleFade img {
  max-width: 70%;
  max-height: 70%;
  margin: auto;
}